<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alarm">

	<select id="getDate" resultType="alarmDto" parameterType="String">
		SELECT * FROM alarm where trunc(TO_DATE(ALARM_DATE,'yyyymmdd')) - trunc(TO_DATE(#{date},'yyyymmdd')) <![CDATA[<=]]> 7
	</select>
</mapper>
